name: Matrix Workflow Example

on:
  push:
  workflow_dispatch:

jobs:
    deploy:
      strategy:
        fail-fast: false
        max-parallel: 3
        matrix:
            os: [ubuntu-latest, ubuntu-20.04,window-latest]
            images: [hello-world, alpine]
            exlcude:
              - images: alpine
                os: window-latest
            include:
              - images: amd64/alpine
                os: ubuntu-20.04
      runs-on: ${{ matrix.os }}
      steps:
      - name: Echo Docker Details
        run: docker info

      - name: Run image on ${{ matrix.os }}
        run: docker run ${{ matrix.images }}